.row {
    padding: 20px;
    background-color: #ffeac9;
    color: rgb(71, 71, 71);
}
.contenedor {
    width: auto;
}
.parte1, .parte2 {
    display: inline-block;
    text-align: justify;
}
.img-proyecto {
    box-shadow: 10px 10px 30px  rgb(71, 71, 71);
}
h1 {
    text-align:center;
    color: rgb(175, 81, 81);
    background: #ffeac9;
    font-family: impact;
    font-size: 36px;
    line-height: 70%;
    letter-spacing: 4px;
    text-decoration: dashed;
    padding-top: 20px;
}
h3{
    line-height: 70%;
    letter-spacing: 4px;
    text-decoration: dashed;
    padding-bottom: 20px;
    color: rgb(71, 71, 71);
}