<div class="row">
    <h1>Educacion:</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h3>Google docs. </h3> - <h3>(2018)</h3></li>
            <p>Programa si empleo, si estudio.(Municipalidad de Córdoba)</p>
        </ul>
        <ul>
            <li> <h3>Desarrollador de videojuegos</h3> - <h3>(2018)</h3></li>
            <p>Userexperience, MDA framework, Blender, Make human, Keyframes, Unity y programación lenguaje c#, animación unity, scrips, Mixamo (Universidad Tecnológica Nacional)</p>
        </ul>
        <ul>
            <li> <h3>Introducción al desarrollo de aplicaciones.</h3> - <h3>(2020)</h3></li>
            <p>cursado en la plataforma Google actívate</p>
        </ul>
        <ul>
            <li> <h3>“Desarrollador web Fullstack”</h3> - <h3>(2022)</h3></li>
            <p>"#SeProgramar" Primera etapa finalizada del programa nacional de capacitación "Argentina programa"</p>
        </ul>
        <ul>
            <li> <h3>“Desarrollador web Fullstack”</h3> - <h3>(2023)</h3></li>
            <p>"#YoProgramo" segunda etapa finalizada del programa nacional de capacitación "Argentina programa"</p>
        </ul>
        <ul>
            <li> <h3>Ingles técnico para desarrolladores de software.</h3> - <h3>(2023)</h3></li>
            <p>cursado en la plataforma virtual del "Centro universitario de inglés"</p>
        </ul>
        <ul>
            <li> <h3>Introducción al desarrollo y planeación de videojuegos</h3> - <h3>(2023)</h3></li>
            <p>Beca de estudio en la Fundación Telefónica</p>
        </ul>
    </div>
</div>