.row{
    padding: 50px;
}
div{
    background-color: #ffeac9;
}
h1,h3{
    display: inline;
}
h1 {
    color: rgb(175, 81, 81);
    background: #ffeac9;
    font-family: impact;
    font-size: 36px;
    line-height: 70%;
    letter-spacing: 4px;
    text-decoration: dashed;
}
#educacion{
    color: rgb(71, 71, 71);
}