<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/html.jpg'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#67e967'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/css.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#67e967'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#67e967'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [title]="'Comunicacion'"
    [titleColor]="'#B35C5A'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#67e967'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [title]="'Resiliencia'"
    [titleColor]="'#B35C5A'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#67e967'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [title]="'Capacidad resolutiva'"
    [titleColor]="'#B35C5A'"
    [titleFontSize]="'1em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#67e967'"
    [innerStrokeColor]="'white'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>
</div>
</div>