<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../assets/icono.jpeg" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1"> Ingreso</h4>
                </div>

                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-outline mb-4">
                    <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" [(ngModel)]="nombreUsuario" required />
                    <label class="form-label" for="nombreUsuario" >Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required />
                    <label class="form-label" for="password">Contraseña</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" (click)="onLogin()" type="button">Ingresar</button>

                    <br>
                    <!--<a class="text-muted" href="#!">contraseña olvidada?</a>-->
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p>
                    
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Bienvenido!</h4>
                <p class="small mb-0">Logueate para habilitar la edicion y/o actualizacion de tus datos en el
                  portafolio.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>