<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAP.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/NoeGaraySalinas"><img src="../../../assets/github.png" id="github"> </a>
                <a href="https://instagram.com/noe.garay27?igshid=ZDdkNTZiNTM="><img src="../../../assets/instagram.png" id="instagram"> </a>
                <a href="https://www.linkedin.com/in/noelia-ayelen-garay-salinas-6437a3171"><img src="../../../assets/linkedin.png" id="linkedin"> </a>
                <a href="https://twitter.com/noelovgfan?t=mxz3sI-anjdQvA1q2hZB9Q&s=09"><img src="../../../assets/twitter.png" id="twitter"> </a>
                <button type="button" class="btn btn-outline-light">Ingreso</button>
            </div>
        </div>
    </div>
