<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/fotook.jpeg" class="img-fluid" id="fotodeperfil">
    <button class="btn btn-success"><i class="bi bi-pencil-fill"></i></button>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Fullstack web developer jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi:</h1>
      <p id="descripcion"> ¡Hola! Mi nombre es Noelia, tengo 29 años y estoy empezando en este rubro, comencé con
        desarrollo de videojuegos, aunque actualmente me encuentro capacitándome en desarrollo web, tengo preferencia
        por el desarrollo de contenido multimedia, concidero que tengo gran facilidad para comprender o transmitir algo
        desde lo visual, por lo que también, dentro del desarrollo web, comprendo mejor el desarrollo de Fontend. Soy
        una persona curiosa por naturaleza, amante y consumidora de tecnología. Mi objetivo al empezar, y aun actual, es
        comprender todos los procesos de desarrollo e inovacion en este rubro, me interesa mucho como influye en la
        sociedad por lo que me gustaría participar y aportar ,desde mi posición, en ideas y proyectos innovadores que
        faciliten el uso y consumo de tecnologías que satisfagan a la persona común.</p>
        <button class="btn btn-success"><i class="bi bi-pencil-fill"></i> EDITAR</button>
    </span>
  </div>
</div>
